/* .main{
  position: relative;
} */

.value--show {
border: 1px solid red;
display: inline-block;
}

.value--hide {
  display: none;
}

#time{
    font-size: 50px;
    font-weight: 500;
    background-color: darkorange;
    width: 250px;
    padding: 7px 40px;
}

.button-functional{
  color: white;
  background-color: darkgreen;
  border: 1px solid white;
  border-radius: 0%;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.5s;
  width: 190px;
  height: 50px;
  padding: 5px 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-functional:hover {
    background-color: rgb(1, 143, 1);
    color: white;
    transform: scale(1.05);
  }

.button-functional--reset{
    flex: 1 1 auto ;
    color: white;
    background-color: rgb(189, 8, 84);
    border: 1px solid white;
    border-radius: 0%;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;
    /* width: 190px; */
    height: 50px;
    padding: 5px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

.button-functional--reset:hover {
  background-color: rgb(219, 9, 97);
  color: white;
  transform: scale(1.03);
}

.button-functional--calc{
    flex: 1 1 auto ;
  
    color: white;
    background-color: rgb(67, 24, 221);
    border: 1px solid white;
    border-radius: 0%;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;
    /* width: 190px; */
    height: 50px;
    padding: 5px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

.button-functional--calc:hover {
  background-color: rgb(219, 9, 97);
  color: white;
  transform: scale(1.03);
}

.button-win{
  color: white;
  background-color: rgba(87, 45, 236, 0.904);
  border: 1px solid white;
  border-radius: 10%;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.5s;
  width: 200;
  height: 50px;
  padding: 5px 35px;
  margin-top: 5px;
 
}

.button-loss{
  color: white;
  background-color: rgb(160, 7, 127);
  border: 1px solid white;
  border-radius: 10%;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.5s;
  width: 200;
  height: 50px;
  padding: 5px 35px;
  margin-top: 5px;
 
}

.button-target{
  color: white;
  text-align: center;
  background-color: rgb(161, 4, 148);
  border: 1px solid white;
  border-radius: 0%;
  font-weight: 500;
  font-size: 130px;
  letter-spacing: 20px;
  transition: all 0.5s;
  /* width: 250px; */
  height: 270px;
  padding: 35px;
  margin-top: 10px; 
}

.button-disabled {
    flex: 1 1 auto ;
  opacity: 0.4;
  color: white;
  background-color: lightskyblue;
  border: 1px solid white;
  border-radius: 0%;
  font-size: 30px;
  font-weight: 500;
  transition: all 0.5s;
  /* width: 160px; */
  height: 50px;
  padding: 5px 5px;
  margin-top: 10px;
  animation-name: buttonDisapear;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  }

  .button-enabled {
    flex: 1 1 auto ;
      opacity: 0.4;
      color: white;
      background-color: darkslateblue;
      border: 1px solid white;
      border-radius: 0%;
      font-size: 30px;
      font-weight: 500;
      transition: all 0.5s;
      /* width: 160px; */
      height: 50px;
      padding: 5px 5px;
      margin-top: 10px;
      cursor: pointer;
      /* animation-name: buttonApear;
      animation-duration: 0.4s;
      animation-fill-mode: forwards; */
      animation-name: growing;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      }

    

  .button-operand{
    flex: 1 1 auto ;
      color: white;
      background-color: darkorange;
      border: 1px solid white;
      border-radius: 0%;
      font-size: 30px;
      font-weight: 500;
      transition: all 0.5s;
      /* width: 160px; */
      height: 50px;
      padding: 5px 5px;
      margin-top: 5px;
     
  }

  .button-operand:hover {
      background-color: rgb(190, 106, 3);
      color: white;
      transform: scale(1.1);
  }

  .button-operand:active {
      background-color: rgba(5, 100, 5, 0.493);
      color: white;
      transform: scale(1.1);
  }

  .container--btnNum {
      display: flex;
      flex-direction: row;
    
  }

  .container--btnOpr {
    display: flex;
    flex-direction: row;
   
}

.container--btnFunc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.container--plyInp{
    display: flex;
    flex-direction: row;
}

  .playersInput{
    flex: 1 1 auto ;
      background-color: rgb(243, 247, 211);
    box-shadow: 2px 2px 5px;
      border-radius: 0%;
      font-weight: 500;
      font-size: 40px;
    
      height: 150px;
      padding: 5px 35px;
      margin-top: 5px;
      margin-bottom: 50px;
  }

  .state{
      position: absolute;
      font-size: 16px;
      text-align: left;
      
      left:70%; 
      height: 900px;
      width: 270px;
      border: 1px solid red;

  }

  .uputstvo{
      background-color: bisque;
      width: 100%;
      padding: 10px;
      font-size: 16px;
  }

  .semafor{
    background-color: rgb(240, 238, 236);
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 22px;
  }

  .alert{
      margin-top: 30px;
      font-size: 14px;
      width: 50%;
  }

  .spinOuther{
      position: relative;
    background-color: blue;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    font-size: 45px;
    text-align: center;
    overflow: hidden;
  }

  .spin {
      position: absolute;
    background-color: green;
   width: 50px;
   height: 30px;
   font-size: 35px;
   animation-name: spin;
   animation-duration: 0.1s;
   animation-fill-mode: forwards;
   animation-iteration-count: 14;
  }

  .spinR {
position: absolute;
color: aliceblue;
background-color: transparent;
 width: 50px;
 height: 30px;
 font-size: 35px;
 animation-name: growing;
 animation-duration: 0.8s;
 animation-fill-mode: forwards;
 animation-timing-function: ease-in-out;
 
  }



  @keyframes  buttonDisapear {
      0% {opacity: 1}
      100%{opacity:0.6;
           transform:translateY(-20px);
           background-color: rgba(245, 8, 8, 0.904);
          display: none}
  }
  
  @keyframes  buttonApear {
      0% {opacity: 0}
      100%{opacity:1;
           transform:translateY(+0px);
          }
  }

  @keyframes spin {
      0%{top:0px;}
      25%{top:20px;}
      50%{top:40px;}
      75%{top:-30px;}
      100%{top:0px;}
  }

  @keyframes growing {
    0%{transform:scale(0.5);opacity: 0;}
    85%{transform:scale(1.2);}
    100%{transform:scale(1);opacity: 1;}
   
}