
.uputstvo{
    background-color: $color-primary-light;
    color: $color-back;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.semafor{
  background-color:$color-primary-light;
  color:$color-back;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 2px;
  
}


.button-win{
    color:$color-back;
    background-color: $color-primary;
  
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;
    width: 23px;
    height: 25px;
    padding: 1px 1px;
    margin-top: 5px;
   
  }
  
  .button-loss{
    color:$color-back;
    background-color:$color-primary;
   
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;
    width: 23px;
    height: 25px;
    padding: 1px 1px;
    margin-top: 5px;
   
  }

  .button-missed{
    color: white;
    background-color:$color-primary;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
    width: 55px;
    height: 17px;
    padding: 1px 1px;
    margin-top: 5px;
}
  
