
.uputstvo{
    background-color: $color-primary;
    color:white;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
}

.semafor{
  background-color: $color-primary;
  color:white;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}


.button-win{
    color: white;
    background-color: $color-primary;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;
    width: 33px;
    height: 35px;
    padding: 5px 5px;
    margin-top: 5px;
   
  }
  
  .button-loss{
    color: white;
    background-color:$color-primary;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;
    width: 33px;
    height: 35px;
    padding: 5px 5px;
    margin-top: 5px;
   
  }
  
