
    $color-primary:  #5D1049;
    $color-primary-light: #720D5D;
    $color-primary-verylight: rgb(165, 33, 139);
    $color-primary-dark:  rgb(14, 1, 11);
    $color-wrong:  #E30425;
    $color-success: green;
    $color-back: #f2f2f2;