
    /// npm install node-sass --save-dev
    //  "scripts": {
  //    "compile:sass":"node-sass ./src/sass/main.scss  ./src/css/mojbroj.css -w",  


    @import "variables";
    @import "score";
    @import "buttons";
    

  * {
      margin: 0;
      padding: 0;
  
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  html {
      box-sizing: border-box;
      font-size: 62.5%;
  }
  
  body {
     
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      line-height: 1.6;
      background-color: $color-back;

  }
  /* 
  ////////////////PRE SET/////////////////////////// */
  
  .value--show {
  border: 1px solid red;
  display: inline-block;
  }
  
  .value--hide {
    display: none;
  }

  .app {
      background-color:$color-primary;
      padding: 10px;
  }
    


    .container{
        background-color: orange;
        padding:10px; 
        width:100%;
        height:100%;


        &--btnNum {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
    }
  
     &--btnOpr {
      display: flex;
      flex-direction: row; 
      justify-content: space-evenly;
      align-items: center;
      height: 50px;
    
  }
  
        &--btnFunc {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
    

        &--app--apear {
            background-color: orange;
            padding: 10px; 
            animation-name: app-growing;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;

        }

        &--app--disapear {
            background-color: orange;
            padding: 10px; 
            animation-name: app-shrink;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;

        }

        &--pInput{
            width:100%;
            text-align: center;
            font-weight: 500;
            font-size: 1.5rem;
            padding: 5px 15px;
            margin: 10px;

        }
}
  

    .correct{
        flex: 1 1 auto ;
        color:$color-back;
        background-color: $color-primary;
        border: 1px solid $color-back;
        font-weight: 500;
        font-size: 1.5rem;
        height: 120px;
        padding: 5px 15px;
        margin: 10px;

    }
  
    .wrong{
        flex: 1 1 auto ;
        color:$color-back;
        background-color: $color-wrong;
        border: 1px solid $color-back;
        font-weight: 500;
        font-size: 1.5rem;
        height: 120px;
        padding: 5px 15px; 
        margin: 10px

    }
  
  
    .alert{
      
        font-size: 1rem;
        border-radius: 0%;
        width: 100%;
    }
  
    .message {

      font-size: 1.3rem;

    }

    .test {
        border:1px solid black;
        width: 50%;
    }

  
    @keyframes  buttonDisapear {
        0% {opacity: 1}

        100%{opacity:1;
             transform:translateY(-15px);
             background-color: $color-primary-verylight;
             display: none }
    }
    
    @keyframes  buttonApear {
        0% {opacity: 0}
        100%{opacity:1;
             transform:translateY(+0px);
            }
    }
  
    @keyframes spin {
        0%{top:0px;}
        25%{top:20px;}
        50%{top:40px;}
        75%{top:-30px;}
        100%{top:0px;}
    }
  
    @keyframes growing {
      0%{transform:scale(0.5);opacity: 0;}
      85%{transform:scale(1.2);}
      100%{transform:scale(1);opacity: 1;}
     
  }

  @keyframes app-growing{
      0%{
          height:75vh;
      }
      100%{
          height:100vh;
      }
  }

  @keyframes app-shrink{
    0%{
        height:100vh;
    }
    100%{
        height:75vh;
    }
}