
    /// npm install node-sass --save-dev
    //  "scripts": {
  //    "compile:sass":"node-sass ./src/sass/main.scss  ./src/css/mojbroj.css -w",  


    @import "variables";
    @import "score";
    @import "buttons";
    

  * {
      margin: 0;
      padding: 0;
  
  }
  
  *,
  *::before,
  *::after {
      box-sizing: inherit;
  }
  
  html {
      box-sizing: border-box;
      font-size: 62.5%;
  }
  
  body {
     
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      line-height: 1.6;
      background-color: $color-back;

  }
  /* 
  ////////////////PRE SET/////////////////////////// */
  
  .value--show {
  border: 1px solid red;
  display: inline-block;
  }
  
  .value--hide {
    display: none;
  }
    
    .container{
        &--btnNum {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
      
    }
  
     &--btnOpr {
      display: flex;
      flex-direction: row; 
      justify-content: space-evenly;
      align-items: center;
      height: 50px;
    
  }
  
        &--btnFunc {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        &--plyInp{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
}
  
    .playersInput{
        flex: 1 1 auto ;
        background-color: $color-back;
        border: 1px solid $color-back;
        font-weight: 500;
        font-size: 1.5rem;
        height: 150px;
        padding: 5px 15px;
        margin-bottom: 50px;      

    }
  
    .correct{
      flex: 1 1 auto ;
      color:$color-back;
        background-color: $color-primary;
        border: 1px solid $color-back;
        font-weight: 500;
        font-size: 1.5rem;
        height: 150px;
        padding: 5px 15px;
        margin-bottom: 50px;

    }
  
    .wrong{
        flex: 1 1 auto ;
        color:$color-back;
        background-color: $color-wrong;
        border: 1px solid $color-back;
        font-weight: 500;
        font-size: 1.5rem;
        height: 150px;
        padding: 5px 15px; 
        margin-bottom: 50px;

    }
  
  
    .alert{
        margin-top: 30px;
        font-size: 1rem;
        border-radius: 0%;
        width: 100%;
    }
  
    .message{
      font-size: 1.3rem;
    }
  
   
  
    @keyframes  buttonDisapear {
        0% {opacity: 1}
        100%{opacity:1;
             transform:translateY(-15px);
             background-color:$color-primary-light;
            display: none}
    }
    
    @keyframes  buttonApear {
        0% {opacity: 0}
        100%{opacity:1;
             transform:translateY(+0px);
            }
    }
  
    @keyframes spin {
        0%{top:0px;}
        25%{top:20px;}
        50%{top:40px;}
        75%{top:-30px;}
        100%{top:0px;}
    }
  
    @keyframes growing {
      0%{transform:scale(0.5);opacity: 0;}
      85%{transform:scale(1.2);}
      100%{transform:scale(1);opacity: 1;}
     
  }