.uputstvo {
  background-color: #5D1049;
  color: #f2f2f2;
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px; }

.semafor {
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 2px; }

.button-win {
  color: #f2f2f2;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s;
  width: 23px;
  height: 25px;
  padding: 1px 1px;
  margin-top: 5px; }

.button-loss {
  color: #f2f2f2;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s;
  width: 23px;
  height: 25px;
  padding: 1px 1px;
  margin-top: 5px; }

.button-missed {
  color: white;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 10%;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s;
  width: 55px;
  height: 17px;
  padding: 1px 1px;
  margin-top: 5px; }

.button-functional--start {
  flex: 1 1 auto;
  color: white;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 0%;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 5px;
  transition: all 0.5s;
  /* width: 190px; */
  height: 50px;
  padding: 5px 5px;
  margin-bottom: 10px;
  margin-top: 2px; }
  .button-functional--start:hover {
    background-color: #720D5D;
    color: #f2f2f2; }

.button-target {
  color: #f2f2f2;
  text-align: center;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 0%;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: 5px;
  transition: all 0.5s;
  height: 70px;
  padding: 5px;
  margin: 1px; }

.button-disabled {
  flex: 1 1 auto;
  opacity: 0.4;
  color: white;
  background-color: #720D5D;
  border: 1px solid #f2f2f2;
  border-radius: 0%;
  font-size: 3rem;
  font-weight: 100;
  transition: all 0.5s;
  height: 50px;
  width: 100px;
  padding: 5px;
  margin: 1px;
  margin-top: 10px;
  animation-name: buttonDisapear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

.button-enabled {
  flex: 1 1 auto;
  opacity: 0.4;
  color: white;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 0%;
  font-size: 3rem;
  font-weight: 100;
  transition: all 0.5s;
  height: 50px;
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  margin: 1px;
  cursor: pointer;
  animation-name: growing;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }
  .button-enabled:hover {
    background-color: #720D5D;
    color: #f2f2f2;
    transform: scale(1.1); }

.button-operand {
  flex: 1 1 auto;
  color: #f2f2f2;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  border-radius: 0%;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.5s;
  height: 50px;
  width: 100px;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
  animation-name: growing;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }
  .button-operand:hover {
    background-color: #720D5D;
    color: #f2f2f2; }
  .button-operand:active {
    background-color: #720D5D;
    color: #f2f2f2; }

.icon {
  flex: 0 1 auto;
  fill: white;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 2px; }
  .icon:hover {
    background-color: #720D5D; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f2f2f2; }

/* 
  ////////////////PRE SET/////////////////////////// */
.value--show {
  border: 1px solid red;
  display: inline-block; }

.value--hide {
  display: none; }

.app {
  background-color: #5D1049;
  padding: 10px; }

.container {
  background-color: orange;
  padding: 10px;
  width: 100%;
  height: 100%; }
  .container--btnNum {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px; }
  .container--btnOpr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px; }
  .container--btnFunc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  .container--app--apear {
    background-color: orange;
    padding: 10px;
    animation-name: app-growing;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }
  .container--app--disapear {
    background-color: orange;
    padding: 10px;
    animation-name: app-shrink;
    animation-duration: 0.4s;
    animation-fill-mode: forwards; }
  .container--pInput {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 5px 15px;
    margin: 10px; }

.correct {
  flex: 1 1 auto;
  color: #f2f2f2;
  background-color: #5D1049;
  border: 1px solid #f2f2f2;
  font-weight: 500;
  font-size: 1.5rem;
  height: 120px;
  padding: 5px 15px;
  margin: 10px; }

.wrong {
  flex: 1 1 auto;
  color: #f2f2f2;
  background-color: #E30425;
  border: 1px solid #f2f2f2;
  font-weight: 500;
  font-size: 1.5rem;
  height: 120px;
  padding: 5px 15px;
  margin: 10px; }

.alert {
  font-size: 1rem;
  border-radius: 0%;
  width: 100%; }

.message {
  font-size: 1.3rem; }

.test {
  border: 1px solid black;
  width: 50%; }

@keyframes buttonDisapear {
  0% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(-15px);
    background-color: #a5218b;
    display: none; } }

@keyframes buttonApear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes spin {
  0% {
    top: 0px; }
  25% {
    top: 20px; }
  50% {
    top: 40px; }
  75% {
    top: -30px; }
  100% {
    top: 0px; } }

@keyframes growing {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  85% {
    transform: scale(1.2); }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes app-growing {
  0% {
    height: 75vh; }
  100% {
    height: 100vh; } }

@keyframes app-shrink {
  0% {
    height: 100vh; }
  100% {
    height: 75vh; } }
